<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Layout_flexbox</title>
</head>

<body>
    <header class="header">
        <div class="header__overlay">
        </div>
        <div class="header__item-contaniner">
            <img class="header__img" src="..//img/dalto.png" alt="Dalto posando" title="Imagen de Dalto">
            <h1>ADA 13 Edición 2024</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non optio voluptate sapiente inventore quis
                numquam nesciunt deserunt, nemo laboriosam qui explicabo repellat rerum eos autem vel architecto
                cupiditate vitae illo.
            </p>
        </div>
    </header>
    <nav class="nav">
        <div class="nav__ul-container">
            <ul class="nav__ul">
                <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="#" class="nav__link">About us</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
                <li class="nav__item"><a href="#" class="nav__link link--login">Log In</a></li>
            </ul>
        </div>
        <div class="nav__logo-container">
            <img src="../img/logo.png" class="nav__logo" alt="">
        </div>
    </nav>
    <main>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus harum temporibus, facere, quo doloribus suscipit fugit eum eligendi quae culpa molestias impedit maxime sit? Voluptates velit minus delectus nam minima.
    </main>
</body>
</html>