.Ingredientes--esencial{
    color: brown;
}
.Ingredientes{
    color: #245;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px;
    line-height: 1.2;
    list-style:square;
    font-style: oblique;
} 